In [1]:
import pandas as pd

In [3]:
df= pd.read_csv('social_net_ads')

In [5]:
num=df.iloc[:,2:]

In [13]:
num

      Age  EstimatedSalary  Purchased
0    19.0          19000.0          0
1    35.0          20000.0          0
2    26.0          43000.0          0
3    27.0          57000.0          0
4    19.0          76000.0          0
..    ...              ...        ...
395  46.0          41000.0          1
396  51.0          23000.0          1
397  50.0          20000.0          1
398  36.0          33000.0          0
399  49.0          36000.0          1

[400 rows x 3 columns]

In [ ]:
Train test split

In [7]:
from sklearn.model_selection import train_test_split

In [15]:
num.iloc[:,0:2]

      Age  EstimatedSalary
0    19.0          19000.0
1    35.0          20000.0
2    26.0          43000.0
3    27.0          57000.0
4    19.0          76000.0
..    ...              ...
395  46.0          41000.0
396  51.0          23000.0
397  50.0          20000.0
398  36.0          33000.0
399  49.0          36000.0

[400 rows x 2 columns]

In [16]:
X_train, X_test, y_train, y_test = train_test_split(num.iloc[:,0:2], num['Purchased'], test_size=0.33, random_state=42)

In [17]:
X_train

      Age  EstimatedSalary
258  58.0          95000.0
177  25.0          22000.0
119  41.0          59000.0
194  28.0          89000.0
229  42.0          80000.0
..    ...              ...
71   24.0          27000.0
106  26.0          35000.0
270  43.0         133000.0
348  39.0          77000.0
102  32.0          86000.0

[268 rows x 2 columns]

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scal=StandardScaler()

In [20]:
scal.fit_transform(X_train)

array([[ 2.0052225 ,  0.72479792],
       [-1.22740379, -1.43119212],
       [ 0.33993017, -0.33843005],
       [-0.93352867,  0.54759326],
       [ 0.43788855,  0.28178627],
       [ 0.43788855,  1.10874135],
       [ 0.82972204,  0.75433203],
       [ 0.92768041,  1.2564119 ],
       [-0.44373681, -1.25398746],
       [-1.81515402, -1.34258979],
       [ 1.12359715,  0.54759326],
       [-0.63965355, -1.63793089],
       [-0.73761192,  0.25225216],
       [ 1.02563878,  2.08336699],
       [-0.54169518,  1.37454834],
       [-0.05190332,  0.01597928],
       [-1.91311239,  0.45899093],
       [ 0.43788855,  0.25225216],
       [-1.03148704,  0.39992271],
       [ 0.2419718 , -0.16122538],
       [ 1.90726413,  0.10458161],
       [-1.12944541, -1.63793089],
       [-1.12944541,  0.28178627],
       [-0.8355703 , -0.81097581],
       [-0.44373681,  2.31963987],
       [ 0.14401343, -0.84050992],
       [ 1.61338901,  0.99060491],
       [-0.14986169, -1.10631691],
       [ 0.82972204, -1.13585102],
       [ 0.2419718 ,  2.1129011 ],
       [-0.05190332, -0.24982772],
       [-0.8355703 ,  2.29010576],
       [-0.05190332, -0.39749827],
       [-0.24782006, -0.60423704],
       [ 0.43788855, -0.51563471],
       [-0.24782006, -0.95864636],
       [ 0.33993017, -1.19491924],
       [ 0.2419718 ,  0.04551339],
       [-1.12944541, -1.63793089],
       [-0.63965355, -0.07262305],
       [-0.24782006, -0.51563471],
       [-0.24782006, -1.34258979],
       [-0.73761192,  0.54759326],
       [ 0.33993017,  0.04551339],
       [-0.93352867,  1.551753  ],
       [ 0.82972204,  0.34085449],
       [-1.5212789 , -0.22029361],
       [ 0.73176366, -1.43119212],
       [-0.73761192, -0.63377115],
       [-0.34577843, -1.34258979],
       [ 0.2419718 ,  0.13411572],
       [-0.54169518,  1.37454834],
       [-1.42332053,  0.34085449],
       [-1.12944541,  0.28178627],
       [ 1.02563878,  1.78802589],
       [ 2.10318088,  2.14243521],
       [-0.24782006, -0.45656649],
       [-0.34577843, -0.81097581],
       [ 0.14401343, -0.27936183],
       [-1.03148704,  0.75433203],
       [ 2.20113925,  0.3703886 ],
       [-1.32536216, -0.45656649],
       [ 2.0052225 ,  2.17196932],
       [ 1.51543064,  0.99060491],
       [-0.24782006,  0.25225216],
       [-0.14986169,  0.84293436],
       [ 1.90726413, -0.30889594],
       [-0.05190332,  1.96523055],
       [-0.44373681, -0.81097581],
       [ 0.33993017,  0.01597928],
       [ 1.41747227, -1.46072623],
       [ 1.41747227,  2.34917398],
       [-0.05190332, -0.01355483],
       [-1.12944541,  0.39992271],
       [-1.12944541,  0.04551339],
       [-1.12944541, -0.54516882],
       [ 0.33993017, -0.30889594],
       [-0.63965355, -0.13169127],
       [-0.05190332,  2.17196932],
       [ 0.04605506, -0.27936183],
       [-0.63965355, -1.0767828 ],
       [ 0.43788855,  0.13411572],
       [ 0.82972204,  1.37454834],
       [-0.14986169, -0.54516882],
       [ 0.04605506,  0.01597928],
       [ 1.12359715,  0.51805915],
       [ 1.90726413, -1.10631691],
       [ 1.02563878,  1.99476466],
       [ 0.92768041, -0.60423704],
       [-0.44373681, -0.04308894],
       [-0.05190332,  2.23103754],
       [-1.71719565,  0.34085449],
       [ 0.2419718 , -0.69283937],
       [-0.24782006, -1.43119212],
       [-1.71719565, -1.01771458],
       [ 0.73176366, -0.75190759],
       [-1.12944541, -0.81097581],
       [ 2.0052225 ,  0.90200258],
       [ 0.2419718 , -0.39749827],
       [ 0.04605506,  1.22687779],
       [-0.05190332,  0.28178627],
       [ 1.12359715, -1.25398746],
       [-0.14986169,  0.13411572],
       [ 0.33993017,  0.04551339],
       [-0.24782006, -0.30889594],
       [ 0.53584692,  1.72895767],
       [ 0.33993017,  0.48852504],
       [ 0.04605506,  1.2564119 ],
       [ 2.0052225 , -1.40165801],
       [-1.12944541, -1.13585102],
       [-0.54169518, -1.54932856],
       [ 0.33993017, -0.54516882],
       [-0.63965355, -1.54932856],
       [-0.24782006,  0.51805915],
       [ 1.02563878, -1.04724869],
       [-1.03148704,  0.54759326],
       [-0.24782006,  0.78386614],
       [ 0.43788855,  0.0750475 ],
       [-1.61923728, -0.07262305],
       [ 0.33993017,  0.04551339],
       [-0.44373681, -0.30889594],
       [ 0.14401343,  1.87662822],
       [-0.93352867,  0.39992271],
       [ 0.82972204,  0.51805915],
       [-1.32536216, -0.36796416],
       [-0.63965355,  1.40408245],
       [ 1.22155552,  0.51805915],
       [-1.71719565,  0.34085449],
       [-0.54169518,  1.90616233],
       [-1.71719565,  0.45899093],
       [-0.24782006, -1.28352157],
       [-0.8355703 , -0.81097581],
       [-1.61923728,  0.51805915],
       [-0.24782006, -0.33843005],
       [ 0.73176366, -1.13585102],
       [ 2.20113925, -0.84050992],
       [-0.24782006,  0.60666148],
       [-0.24782006, -0.7814417 ],
       [-1.91311239, -0.7814417 ],
       [ 0.43788855,  2.31963987],
       [ 0.73176366,  0.25225216],
       [ 0.2419718 , -0.30889594],
       [-1.32536216, -1.40165801],
       [-0.44373681, -0.57470293],
       [ 0.43788855, -0.01355483],
       [ 1.71134739,  1.75849178],
       [ 1.22155552, -0.7814417 ],
       [ 1.02563878,  1.43361656],
       [-1.81515402,  0.16364983],
       [ 0.33993017,  0.04551339],
       [ 0.2419718 ,  0.01597928],
       [-1.03148704,  0.51805915],
       [-0.14986169,  1.64035534],
       [-0.24782006,  0.13411572],
       [-0.24782006, -0.36796416],
       [-0.34577843,  1.31548012],
       [-0.24782006,  0.0750475 ],
       [ 2.20113925,  1.10874135],
       [-1.22740379,  0.48852504],
       [-1.03148704, -0.4861006 ],
       [-1.61923728, -1.60839678],
       [-0.05190332,  0.10458161],
       [-0.24782006, -0.92911225],
       [ 1.61338901, -0.01355483],
       [ 0.92768041, -1.19491924],
       [ 0.04605506, -0.60423704],
       [-0.24782006,  2.26057165],
       [-0.24782006,  0.19318394],
       [ 0.33993017,  0.25225216],
       [-0.05190332, -1.10631691],
       [ 2.20113925, -0.72237348],
       [-0.93352867, -0.33843005],
       [-1.42332053, -0.13169127],
       [-1.42332053, -0.22029361],
       [-0.73761192, -1.57886267],
       [-1.22740379, -1.10631691],
       [ 2.10318088,  0.3703886 ],
       [ 2.0052225 , -0.95864636],
       [-1.91311239,  0.34085449],
       [ 0.82972204, -0.33843005],
       [-1.03148704, -1.57886267],
       [ 2.0052225 , -0.69283937],
       [ 1.02563878, -1.19491924],
       [ 1.12359715, -0.16122538],
       [ 1.22155552, -1.01771458],
       [ 1.51543064,  0.04551339],
       [ 0.2419718 , -0.39749827],
       [ 1.41747227,  1.28594601],
       [ 2.10318088, -0.84050992],
       [-0.14986169, -0.22029361],
       [ 0.43788855,  0.99060491],
       [-0.05190332, -0.54516882],
       [ 1.02563878, -1.10631691],
       [ 2.10318088, -1.22445335],
       [-0.05190332,  0.25225216],
       [ 0.2419718 , -0.27936183],
       [ 1.12359715,  0.10458161],
       [-1.22740379,  0.57712737],
       [-0.73761192, -1.63793089],
       [ 0.2419718 ,  0.22271805],
       [-1.32536216,  0.39992271],
       [ 0.04605506, -0.60423704],
       [ 0.73176366,  1.78802589],
       [-1.61923728,  0.04551339],
       [-0.24782006, -1.40165801],
       [-0.24782006, -1.49026034],
       [-0.63965355,  0.54759326],
       [-0.73761192,  0.28178627],
       [ 0.92768041, -0.69283937],
       [-1.03148704,  0.57712737],
       [-0.24782006,  0.04551339],
       [-0.73761192,  1.34501423],
       [ 0.14401343,  1.52221889],
       [-0.8355703 ,  0.3703886 ],
       [ 0.33993017, -0.22029361],
       [ 1.02563878,  0.57712737],
       [ 0.04605506, -0.33843005],
       [-0.54169518, -1.54932856],
       [ 0.14401343,  0.13411572],
       [-1.12944541,  0.31132038],
       [ 0.14401343,  1.04967313],
       [-1.5212789 , -0.45656649],
       [-0.14986169,  1.40408245],
       [ 2.20113925, -0.84050992],
       [-0.93352867, -0.45656649],
       [ 1.3195139 ,  1.87662822],
       [ 1.12359715, -1.25398746],
       [-0.14986169, -0.30889594],
       [ 1.80930576,  0.99060491],
       [-1.03148704, -0.36796416],
       [-1.32536216, -1.13585102],
       [-0.34577843,  0.04551339],
       [-0.93352867, -1.13585102],
       [ 1.22155552, -1.49026034],
       [-0.44373681, -0.87004403],
       [-0.8355703 , -0.69283937],
       [-1.5212789 , -1.54932856],
       [-0.73761192,  1.90616233],
       [ 0.92768041,  1.02013902],
       [ 0.82972204,  0.25225216],
       [ 1.02563878,  1.87662822],
       [ 0.92768041, -0.63377115],
       [ 1.12359715,  2.08336699],
       [-0.54169518,  0.87246847],
       [ 0.04605506,  0.01597928],
       [-1.81515402, -1.31305568],
       [-0.05190332,  0.19318394],
       [ 0.92768041, -0.57470293],
       [ 0.2419718 , -0.39749827],
       [-0.14986169,  1.61082123],
       [-1.71719565,  0.10458161],
       [-0.63965355, -0.36796416],
       [ 0.33993017, -0.75190759],
       [ 0.43788855, -0.4861006 ],
       [-0.93352867, -0.98818047],
       [ 0.14401343,  0.0750475 ],
       [-0.93352867,  0.42945682],
       [ 0.04605506, -0.57470293],
       [ 0.92768041, -0.81097581],
       [-0.05190332,  0.04551339],
       [ 1.12359715, -1.01771458],
       [ 0.73176366, -1.43119212],
       [-0.24782006,  0.04551339],
       [-1.32536216, -1.28352157],
       [-1.12944541, -1.04724869],
       [ 0.53584692,  1.84709411],
       [ 0.14401343,  0.19318394],
       [-0.54169518,  0.45899093]])

In [21]:
scal.transform(y_train)

c:\Users\mmanoj\AppData\Local\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1.
 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 0. 1. 1.
 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1.
 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0.
 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0.
 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0.
 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0.
 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1.
 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1.
 1. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0.
 0. 0. 0. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.